X_LAYER_RPC_URL=https://testrpc.xlayer.tech
SPECIALIST_MARKET_PROVIDER=mock
ONCHAINOS_MARKET_API_BASE_URL=
ONCHAINOS_MARKET_API_KEY=
SPECIALIST_DEFAULT_DEADLINE_SECONDS=1200
SPECIALIST_DEFAULT_SLIPPAGE_BPS=50
